# Libraries

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split, KFold
from sklearn.metrics import mean_squared_error, mean_absolute_error

# Load Dataset

In [2]:
df_train = pd.read_csv('C:/Users/firma/Documents/Python/ML + BE/REGRESSION/CRAB AGE/ML/Data/train.csv')
df_test = pd.read_csv('C:/Users/firma/Documents/Python/ML + BE/REGRESSION/CRAB AGE/ML/Data/test.csv')
df_sample = pd.read_csv('C:/Users/firma/Documents/Python/ML + BE/REGRESSION/CRAB AGE/ML/Data/sample_submission.csv')

# Data Information

## Train

In [3]:
df_train.head()

   id Sex  Length  Diameter  ...  Shucked Weight  Viscera Weight  Shell Weight  Age
0   0   I  1.5250    1.1750  ...       12.728926        6.647958      8.348928    9
1   1   I  1.1000    0.8250  ...        4.521745        2.324659      3.401940    8
2   2   M  1.3875    1.1125  ...       11.339800        5.556502      6.662133    9
3   3   F  1.7000    1.4125  ...       20.354941       10.991839     14.996885   11
4   4   I  1.2500    1.0125  ...       11.977664        4.507570      5.953395    8

[5 rows x 10 columns]

In [4]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74051 entries, 0 to 74050
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              74051 non-null  int64
 1   Sex             74051 non-null  object
 2   Length          74051 non-null  float64
 3   Diameter        74051 non-null  float64
 4   Height          74051 non-null  float64
 5   Weight          74051 non-null  float64
 6   Shucked Weight  74051 non-null  float64
 7   Viscera Weight  74051 non-null  float64
 8   Shell Weight    74051 non-null  float64
 9   Age             74051 non-null  int64
dtypes: float64(7), int64(2), object(1)
memory usage: 5.6+ MB

In [5]:
obj = [col for col in df_train.columns if df_train[col].nunique() <= 10]
for col in obj:
   print(f"Column: {col}")
   print(f"Number of Unique Values (nunique): {df_train[col].nunique()}")
   print(f"Unique Values: {df_train[col].unique()}")
   print("Value Counts:")
   print(df_train[col].value_counts())
   print("-" * 50)

Column: Sex
Number of Unique Values (nunique): 3
Unique Values: ['I' 'M' 'F']
Value Counts:
Sex
M    27084
I    23957
F    23010
Name: count, dtype: int64
--------------------------------------------------

## Test

In [6]:
df_test.head()

      id Sex  Length  ...  Shucked Weight  Viscera Weight  Shell Weight
0  74051   I  1.0500  ...        3.657085        1.729319      2.721552
1  74052   I  1.1625  ...        7.030676        3.246018      3.968930
2  74053   F  1.2875  ...        5.556502        3.883882      4.819415
3  74054   F  1.5500  ...       13.380964        6.548735      7.030676
4  74055   I  1.1125  ...        5.528153        2.466407      3.331066

[5 rows x 9 columns]

In [8]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49368 entries, 0 to 49367
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              49368 non-null  int64
 1   Sex             49368 non-null  object
 2   Length          49368 non-null  float64
 3   Diameter        49368 non-null  float64
 4   Height          49368 non-null  float64
 5   Weight          49368 non-null  float64
 6   Shucked Weight  49368 non-null  float64
 7   Viscera Weight  49368 non-null  float64
 8   Shell Weight    49368 non-null  float64
dtypes: float64(7), int64(1), object(1)
memory usage: 3.4+ MB

In [9]:
obj = [col for col in df_test.columns if df_test[col].nunique() <= 10]
for col in obj:
   print(f"Column: {col}")
   print(f"Number of Unique Values (nunique): {df_test[col].nunique()}")
   print(f"Unique Values: {df_test[col].unique()}")
   print("Value Counts:")
   print(df_test[col].value_counts())
   print("-" * 50)

Column: Sex
Number of Unique Values (nunique): 3
Unique Values: ['I' 'F' 'M']
Value Counts:
Sex
M    17923
I    15963
F    15482
Name: count, dtype: int64
--------------------------------------------------